body {
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: black;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.info-header {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 45px;
  width: 940px;
  margin: 0 auto;
}

.button-user {
  font-size: 21px;
  line-height: 21px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  padding: 11px 25px;
  border: none;
  margin-right: 10px;
  box-sizing: border-box;
}

.color-navigation {
  background-color: #f4f7f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-header {
  background-color: #ee3643;
  padding: 13px 55px;
  margin-left: 130px;
  height: 19px;
  width: 109px;
  padding: 13px 56px 10px 55px;
  border-bottom: 5px solid #b52933;
  cursor: pointer;
}

.logo-header:hover {
  background-color: #ca2c37;
  border-bottom-color: #9a212a;
}

.logo-header:active {
  background-color: #ba2732;
  border-bottom-color: #8e1e26;
}

.main-menu {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  max-height: 42px;
  margin: 0 auto;
}

.list-checkout {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding: 0;
}

.search {
  border: none;
  background-color: #293449;
}

.form-search {
  position: relative;
  padding-left: 28px;
  padding-top: 10px;
  padding-right: 10px;
}

.search:hover,
.form-search:hover {
  background-color: #212a3a;
}

.search:focus {
  background-color: #ffffff;
}

.list-checkout li {
  padding: 10px 22px 13px 20px;
  display: flex;
  flex-direction: column;
}

ul .checkout {
  min-width: 150px;
  padding: 13px 22px 12px 20px;
  background-color: #63a63e;
  box-sizing: border-box;
}

.checkout:hover {
  background-color: #5fbb2d;
}

.checkout:active {
  background-color: #518534;
  color: rgba(255, 255, 255, 0.5);
}

.icon-bookmark,
.icon-cart {
  position: relative;
  padding-left: 28px;
}

.icon-bookmark::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-bookmark.svg);
  left: 5px;
  opacity: 30%;
  background-repeat: no-repeat;
}

.icon-cart::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-cart.svg);
  left: 5px;
  opacity: 30%;
  background-repeat: no-repeat;
}

.form-search::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-search.svg);
  left: 5px;
  opacity: 30%;
  background-repeat: no-repeat;
}

.list-checkout-li:hover {
  background-color: #212a3a;
  opacity: none;
}

.icon-cart:hover::before,
.icon-bookmark:hover::before {
  opacity: 100%;
}

.list-checkout-li:active {
  background-color: #161d29;
}

h1 {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  color:#ee3643;
  width: 196px;
  margin: 0;
  padding: 0;
}

.phone-header {
  position: relative;
  font-size: 21px;
  line-height: 21px;
  color:#ee3643;
  padding: 8px 47px 8px 70px;
  border: 3px solid white;
}

.phone-header + p {
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.phone-header::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  left: 13px;
}

.navigation {
  display: flex;
  justify-content: center;
  background-color: #32425c;
  padding: 0;
  min-height: 60px;
  margin: 0 auto;
  border-bottom: 5px solid #293449;
}

.navigation ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  list-style: none;
  margin: 0;
  padding: 0 20px;
}

.navigation a {
  display: flex;
  line-height: 60px;
  padding: 20px 30px;
  margin: 0;
}

.navigation a:hover {
  background-color: #293449;
}

.navigation a:active {
  background-color: #293449;
  color: rgba(255, 255, 255, 0.5);
}

.navigation-container {
  padding-bottom: 60px;
}

.navigation li {
  display: inline;
  margin: 0px;
  padding: 0px;
}

.user-name {
  background-color: #ffffff;
  padding: 14px 69px 11px 47px;
  position: relative;
}

.user-name::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  background-image: url(../img/icon-user.svg);
  background-repeat: no-repeat;
  left: 15px;
}

.user-name::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  background-image: url(../img/icon-login.svg);
  background-repeat: no-repeat;
  right: 15px;
}

.user-name::after:hover {
  background-color: #32425c;
}

.user-button {
  color: #32425c;
  font-size: 16px;
  line-height: 18px;
  cursor: pointer;
}

.user-button ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  position: relative;
}

.user-button li:hover {
  color: #ee3643;
}

.user-button li:active {
  color: #32425c;
  opacity: 30%;
}

.user-name:hover::after {
  background-image: url(../img/);
}

.user-name:active {
  color: black;
  opacity: 30%;
}

.decoration-point {
  position: absolute;
  top: 7px;
  left: 122px;
  width: 5px;
  height: 5px;
  padding: 0px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-button-index {
  color: #32425c;
  padding: 14px 27px 15px 25px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.user-button-index:hover {
  color: #ee3643;
}

.icon-login:hover::after {
  content: "";
  position: absolute;
  display: block;
  right: 85px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 19px;
  background-image: url("../img/icon-login-2.svg");
  background-repeat: no-repeat;
}

.user-button-index:active {
  color: rgba(0, 0, 0, 0.3);
  border: none;
}

.navigation-user .entrance {
  padding-left: 45px;
  position: relative;
}

.icon-login::after {
  content: "";
  position: absolute;
  display: block;
  right: 85px;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 19px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
}

.slider-and-banner {
  position: relative;
  height: 468px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 950px;
}

.all-banner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.list-banner {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.list-banner li {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 123px;
  color: white;
  padding-left: 23px;
  margin: 5px;
}

.list-banner .last {
  margin-left: 675px;
}

.list-banner:last-of-type {
  margin-bottom: 0px;
}

.list-banner a {
  padding: 12px 24px 14px;
  width: 135px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.list-banner a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.list-banner a:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.list-banner li::after {
  content: "";
  position: absolute;
  display: block;
  width: 44px;
  height: 65px;
  right: 43px;
  top: 50%;
  transform: translateY(-50%);
}

.material {
  background-color: #ffbf47;
}

.material::after {
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
}

.material::before {
  content: "";
  position: absolute;
  display: block;
  right: 0;
  top: 0;
  width: 60px;
  height: 59px;
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
}

.tools {
  background-color: #3bbce3;
}

.tools::after {
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
}

.tekhnika {
  background-color: #dc91d8;
}

.tekhnika::after {
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
}

.discount {
  background-color: #8ed78f;
  margin-left: 725px;
}

.discount::after {
  background-image: url("../img/icon-4.svg");
  background-repeat: no-repeat;
}

.delivery {
  background-color: #ffbf47;
}

.delivery::after {
  background-image: url("../img/icon-5.svg");
  background-repeat: no-repeat;
}

.slider-slides {
  width: 620px;
  height: 266px;
  position: absolute;
  color: white;
  bottom: 230px;
  left: -120px;
}

.slider-slides h3 {
  font-family: "Cuprum-Bold", "Arial-Bold", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-align: left;
  text-transform: uppercase;
  margin-left: 24px;
  margin-bottom: 8px;
  margin-top: 27px;
}

.slider-slides p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  margin-left: 24px;
  margin-top: 0;
}

.slider-div {
  position: absolute;
  width: 620px;
  height: 266px;
  background-repeat: no-repeat;
  left: 130px;
  top: 202px;
}

.slider-1 {
  background-image: url("../img/slide-image.jpg");
}

.slider-2 {
  display: none;
  background-image: url("../img/slide-image-2.jpg");
}

.slider-button {
  position: absolute;
  margin-top: 206px;
  background-color: #ee3643;
  padding: 14px 45px;
  text-transform: uppercase;
  margin-left: 25px;
  border-radius: 5px;
  bottom: 20px;
}

.slider-div button {
  position: absolute;
  display: block;
  content: '';
  width: 22px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.slider-button-left {
  left: 25px;
}

.slider-button-right {
  right: 25px;
}

.slider-div a:hover {
  background-color: #ca2c37;
}

.slider-div a:active {
  background-color: #ba2732;
}

.catalog-info {
  background-color: #f4f7f9;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.div-catalog-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1050px;
}

.div-catalog-info h2 {
  font-size: 30px;
  line-height: 30px;
  font-family:"Cuprum", "Arial", sans-serif;
  text-transform: uppercase;
  padding-top: 67px;
}

.catalog-info p {
  font-size: 13px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  padding-bottom: 73px;
  padding-right: 159px;
  margin: 0;
}

.section-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1050px;
}

.popular-product {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  padding: 30px;
  margin-bottom: 0;
  margin-top: 40px;
}

.popular-product p {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-product a {
  position: absolute;
  top: 50%;
  left: 663px;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding: 10px 55px;
  border-radius: 5px;
  max-height: 38px;
  border: none;
  box-sizing: border-box;
}

.product {
  display: flex;
}

.product h3 {
  font-family: "PT Sans Bold", "Arial Bold", sans-serif;
}

.section-manufacturer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  flex-direction: column;
  max-width: 1050px;
}

.popular-manufacturer {
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #f9f5f0;
  padding: 30px;
}

.popular-manufacturer p {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-manufacturer a {
  position: absolute;
  top: 50%;
  left: 663px;
  transform: translateY(-50%);
  color: #ffffff;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  padding: 13px;
  border-radius: 5px;
  padding: 10px 55px;
  border-radius: 5px;
  max-height: 38px;
  border: none;
  box-sizing: border-box;
}

.manufacturer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20 auto;
  padding: 0;
  list-style: none;
  padding: 0;
  min-width: 150px;
}

.manufacturer a {
  display: flex;
  width: 220px;
  height: 145px;
  justify-content: center;
  align-items: center;
}

.manufacturer li:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.manufacturer li:active {
  opacity: 0.5;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.info-contact {
  position: relative;
  font-size: 13px;
  line-height: 24px;
  text-align: left;
  color: #000000;
  display: flex;
  justify-content: center;
  margin-bottom: 86px;
  box-sizing: border-box;
}

.info-transport {
  max-width: 519px;
  padding: 0;
  margin-left: -130px;
}

.info-transport p {
  min-width: 540px;
}

.map {
  margin-left: 100px;
}

.map p,
.map img {
  padding-bottom: 40px;
}

.map p {
  max-width: 195px;
}

.contacts-button-map {
  cursor: pointer;
}

.info-contact li {
  font-size: 18px;
  line-height: 20px;
  text-align: left;
  color: #000000;
  padding-bottom: 21px;
  list-style: none;
}

.list-tansport-li {
  position: relative;
}

.list-tansport-li::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -35px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.info-contact h2 {
  font-size: 30px;
  line-height: 30px;
  text-align: left;
  color: #000000;
  text-transform: uppercase;
}

.info-contact p {
  font-family: "PT Sans", "Arial", sans-serif;
  padding-bottom: 25px;
}

.button-info-contact {
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  padding: 10px 13px;
  border: none;
  border-radius: 5px;
}

.section-service {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  background-color: #f4f7f9;
}

.all-service {
  padding: 68px 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-width: 1050px;
  position: relative;
}

.all-service p {
  margin-bottom: 70px;
}

.service {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.list-unstyled {
  position: absolute;
  padding: 0;
  list-style: none;
  left: 130px;
  bottom: 99px;
}

.list-unstyled button {
  display: inline-block;
  position: relative;
  color: white;
  background-color: #32425c;
  padding: 21px 140px 20px 23px;
  border: none;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  min-width: 255px;
  font-size: 21px;
  list-style: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  cursor: pointer;
}

.list-unstyled .curent-index {
  color: #32425c;
  background-color: white;
  border: none;
}

.list-unstyled::before {
  content: "";
  position: absolute;
  background-image: url('../img/shadow.png');
  width: 10px;
  height: 289px;
  left: 245px;
  bottom: 5px;
  transform: translateY(20%);
  z-index: 10;
}

.non-active-button:hover {
  background-color: #293449;
}

.text-service {
  margin-left: 80px;
  max-width: 275px;
}

.service-guarantee::before {
  content: "";
  position: absolute;
  height: 261px;
  width: 468px;
  background-image: url('../img/guarantee.png');
  left: 689px;
}

.service-credit::before {
  content: "";
  position: absolute;
  height: 261px;
  width: 468px;
  background-image: url('../img/credit.png');
  left: 689px;
}

.service-delivery::before {
  content: "";
  position: absolute;
  height: 261px;
  width: 468px;
  background-image: url('../img/delivery.png');
  left: 689px;
}

.all-credit {
  display: none;
}

.all-guarantee {
  display: none;
}

.section-breadcrumbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
  position: relative;
  width: 950px;

}

.breadcrumbs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  padding: 0;
  box-sizing: border-box;
  width: 1050px;
  margin: 10px auto;
}

.breadcrumbs ul {
  list-style: none;
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  padding: 0;
  margin: 0;
}

.breadcrumbs li {
  padding-right: 25px;
  margin: 0;
}

.icon-home {
  height: 25px;
  width: 25px;
}

.breadcrumbs .li-home {
  overflow: hidden;
  text-indent: -1000px;
  padding-right: 20px;
  text-align: center;
}

.icon-home {
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  text-align: center;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  height: 12px;
  width: 12px;
  background-color: white;
  z-index: 1;
  top: 25%;
  border-radius: 50px 0 0 0;
  box-shadow: 1px 1px 0 1px #c5c9d1;
  transform: rotate(-45deg) scale(0.73);
}

.breadcrumbs li:last-child::after {
  content: none;
}

.div-h2-catalog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px auto;
  position: relative;
  width: 950px;
  background-color: #f2f6f8;
  max-height: 89px;
}

.h2-catalog {
  font-size: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
  line-height: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #32425c;
  padding: 32px 30px;
}

.filter-sorting,
.div-filter {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.div-filter {
  max-width: 950px;
}

.p-filter {
  display: flex;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f3ec;
  min-width: 220px;
  border-radius: 5px;
  padding-left: 18px;
  box-sizing: border-box;
  margin-right: 30px;
  margin-top: 0;
  min-height: 58px;
  align-items: center;
}

.sorting {
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 5px;
  max-width: 810px;
  max-height: 38px;
}

.list-sorting {
  display: flex;
  padding: 0;
}

.sorting p {
  text-transform: uppercase;
  padding-left: 18px;
  padding-right: 100px;
}

.list-sorting li {
  list-style: none;
  padding-right: 62px;
}

.list-sorting a {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #ee3643;
  text-transform: uppercase;
  padding: 0;
}

.list-sorting a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.list-sorting .sorting-curent {
  color: #ee3643;
  border: none;
}

.triangle {
  display: flex;
  list-style: none;
  margin-right: 10px;
}

.triangle li {
  width: 20px;
  height: 20px;
  opacity: 20%;
  cursor: pointer;
}

.triangle .up-dir {
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
}

.triangle .down-dir {
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
}

.triangle li:hover {
  opacity: 100%;
}

.filters-catalog {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  min-height: 1150px;
  max-height: 1300px;
  max-width: 1050px;
}

.filters {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-left: -80px;
  margin-top: -280px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 130px;
}

.range-filter {
  width: 220px;
  margin-top: 20px;
}

form {
  position: relative;
}

legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 80px;
  width: 220px;
  margin-bottom: 10px;
  padding-top: 39px;
  background-color: #f7f3ec;
  border-radius: 5px;
  padding-right: 20px;
  padding-left: 20px;
  box-sizing: border-box;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 140px;
}

.price-controls {
  font-size: 0;
  display: flex;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.price-controls input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  text-align: center;
  color: #000000;
  width: 95px;
  height: 38px;
  padding: 26px 12px 24px 14px;
  border: none;
  border-radius: 5px;
  background: #f7f3ec;
  box-sizing: border-box;
}

.max-price {
  text-align: right;
  margin-left: 5px;
}
.min-price {
  text-align: left;
  margin-right: 5px;
}

.filter-manufacturer, .filter-pitanie {
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 130px;
  margin-top: 25px;
}

.filter-pitanie {
  margin-bottom: 80px;
}

.list-manufacturer, .list-pitanie {
  font-size: 15px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-align: 20px;
  color: #000000;
  text-transform: uppercase;
  padding: 20px;
  list-style: none;
  margin: -20px;
  margin-top: 5px;
}

.list-manufacturer li, .list-pitanie li {
  margin-bottom: 15px;
}

.button-show {
  border: 1px solid #e5e5e5;
  background-color: white;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  min-height: 38px;
  margin-left: 130px;
  margin-top: 80px;
  text-transform: uppercase;
  cursor: pointer;
  min-width: 140px;
  padding: 15px 39px;
  text-align: center;
}

.decorative {
  height: 1px;
  width: 220px;
  background-color: #c5c5c5;
  margin-left: 130px;
  margin-top: 25px;
}

.div-catalog {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: 900px;
  margin-top: -80px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  margin: 20px auto;
  box-sizing: border-box;
  padding: 0;
  margin-left: 300px;
  margin-top: -40px;
  max-height: 1300px;
}

.catalog-index {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0;
}

.catalog-item {
  position: relative;
  display: inline-block;
  width: 220px;
  min-height: 318px;
  margin-right: 10px;
  margin-bottom: 20px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.catalog-index .list-catalog {
  margin-right: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 0px;
}

.catalog-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.catalog-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border-radius:3px;
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: "Cuprum", "Arial" sans-serif;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .buy {
  border: 3px solid #63a63e;
  border-bottom: 3px solid #367315;
}

.actions .bookmark {
  color: #32425c;
  background: white;
  border: 3px solid #367315;
}

.catalog-item .actions {
  display: none;
}

.catalog-item:hover .actions {
  display: block;
}

.catalog-item:hover {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.catalog-item .image {
  width: 218px;
  height: 168px;
}

.catalog-item .image {
  max-width: 100%;
}

.catalog-item .title {
  min-height: 40px;
  padding: 0 25px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.catalog-item .discount-catalog {
  min-height: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #999;
  text-decoration: line-through;
}

.catalog-item .price {
  position: relative;
  width: 80px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.catalog-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-item .flag-new {
  background: url("../img/new-flag.png") no-repeat 0 0;
}

.actions .buy:hover {
  background-color: #5fbb2d;
  border-color: #5fbb2d;
  border-bottom-color: #518534;
}

.actions .buy:active {
  background-color: #518534;
  border-color: #518534;
}

.actions .bookmark:hover {
  border-color: #32425c;
}

.actions .bookmark:active {
  opacity: 0.5;
}

.manufacturer-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.manufacturer-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.manufacturer-checkbox input[type="checkbox"]:checked + .checkbox-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.pitanie-checkbox {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.pitanie-checkbox input[type="radio"] + .checkbox-indicator-pitanie {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.pitanie-checkbox input[type="radio"]:checked + .checkbox-indicator-pitanie {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
  background-repeat: no-repeat;
  top: 50%;
  transform: translateY(-50%);
}

.paginator {
  margin-left: 300px;
  list-style: none;
  display: flex;
  position: absolute;
  padding: 0;
  bottom: 40px;
}

.paginator li {
  margin: 0;
  margin-right: 10px;
}

.paginator a {
  display: inline-block;
  position: relative;
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 3px;
  padding: 10px;
  min-width: 28px;
  min-height: 25px;
  text-align: center;
  align-content: center;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
}

.paginator a:hover,
.filter-button:hover {
  border-color: #bdc6ca;
}

.paginator a:active,
.filter-button:active {
  border-color: #ee3643;
}

.paginator .curent {
  background-color: #ee3643;
  border-color: #ee3643;
  color: white;
}

.paginator .next {
  padding: 10px 38px;
}

.footer-info {
  background-color: #32425c;
  color: white;
  box-sizing: border-box;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}

.footer-one {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 130px;
  padding-right: 130px;
  margin: 0 auto;
}

.footer-two {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-left: 130px;
  padding-right: 130px;
  margin: 0 auto;
}

.footer-two p {
  display: flex;
  flex-direction: column;
  margin-right: 140px;
}

.footer-info li {
  list-style: none;
  display: inline;
  margin-right: 20px;
}

.footer-info .list-footer-two {
  color: #ffd180;
}

.list-footer-one {
  margin: 40px;
  padding: 0;
}

.list-footer-two {
  margin-left: 63px;
  padding: 0;
}


.logo-footer {
  background-color: #ee3643;
  padding: 20px 41px;
  margin-right: 200px;
}

.footer-contacts {
  color:white;
  background-color: #293449;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px 130px 35px 130px;
  align-items: center;
  margin: 0 auto;
}

.footer-contacts p {
  display: flex;
  flex-direction: column;
  margin-right: 130px;
}

.footer-contacts li {
  list-style: none;
}

.footer-contacts a {
  color: #ffd180;
}

.email-phone {
  display: flex;
  margin-left: 100px;
  margin-right: -50px
}

.footer-email:hover,
.footer-phone:hover {
  text-decoration: underline;
}

.footer-email:active,
.footer-phone:active {
  text-decoration: none;
  color: #ee3643;
}

.list-social {
  display: flex;
}

.social {
  display: inline-block;
  height: 42px;
  width: 42px;
  background-color: #212a3a;
  border-radius: 50%;
  margin-left: 3px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-vk {
  background-image: url(../img/icon-vk.svg);
}

.social-fb {
  background-image: url(../img/icon-fb.svg);
}

.social-ins {
  background-image: url(../img/icon-insta.svg);
}

.list-social a:hover,
.list-social a:active {
  background-color: #ee3643;
}

.list-footer-one a:hover,
.list-footer-two a:hover {
  text-decoration: underline;
}

.list-footer-one a:active {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

.list-footer-two a:active {
  color: rgba(255, 209, 128, 0.5);
  text-decoration: none;
}

.list-footer-one li,
.list-footer-two li {
  margin-right: 60px;
}

.modal {
  position: fixed;
  width: 620px;
  color: #000000;
  background-color: white;
  background-position: 0 0;
  box-shadow: 0 30px 50px rgba(41, 52, 57, 0.75);
  border-top: 7px solid #ee3643;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
}

.modal-letter {
  display: none;
  top: 75px;
  width: 620px;
  height: 430px;
}

.form-letter {
  padding: 37px 80px;
  margin: 0;
  position: absolute;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-name {
  margin-right: 145px;
}

.input-name {
  margin-right: 10px;
}

.letter-modal-button {
  position: absolute;
  box-sizing: border-box;
  height: 112px;
  margin: 0;
  background-color: #f1f1f1;
  padding: 37px 80px;
  width: 620px;
  min-height: 112px;
  bottom: 0;
}

.modal-check {
  min-width: 680px;
  min-height: 282px;
  display: none;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  text-indent: -10000px;
  background-image: url(../img/icon-close.svg);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.catalog-modal-button {
  position: absolute;
  box-sizing: border-box;
  height: 112px;
  margin: 0;
  background-color: #f1f1f1;
  padding: 37px 80px;
  width: 680px;
  min-height: 112px;
  bottom: 0;
}

.modal-check p {
  padding-left: 179px;
  padding-top: 50px;
  font-size: 30px;
  line-height: 30px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.modal-check p::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  top: 63px;
  left: 81px;
  background-image: url(../img/icon-mark.svg);
}

.modal-button {
  display: inline-block;
  position: absolute;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  border: none;
  cursor: pointer;
  margin-left: 80px;
}

.button-send {
  background-color: #ee3643;
  color: white;
  padding: 14px 119px;
}

.button-red {
  background-color: #ee3643;
  color: white;
  left: 0;
  margin-left: 80px;
  padding: 14px 60px;
}

.button-white {
  background-color: white;
  color: #000000;
  right: 0;
  margin-right: 80px;
  padding: 14px 44px;
}

.modal-letter label {
  font-family: "Cuprum", "Arail", sans-serif;
  font-size: 18px;
  line-height: 18px;
  color: #000000;
}

.modal-letter input[type="text"],
.modal-letter textarea {
  box-sizing: border-box;
  padding: 14px 16px;
  font: inherit;
  color: #a9a9a9;
  background-color: white;
  border: 2px solid #dee3e4;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.modal-letter input[type="text"] {
  width: 220px;
  height: 38px;
  margin-bottom: 10px;
}

.modal-letter-label {
  display: inline-block;
  justify-content: space-between;
}

.modal-letter-input {
  display: inline-block;
}

.form-letter textarea {
  margin-top: 13px;
}

.modal-map {
  width: 940px;
  height: 446px;
  top: 100px;
  background-color: white;
  display: none;
  border: none;
}

.modal-show {
  display: block;
}
